.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: darkblue;
  height: 1px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.pqeai_input {
  font-family: 'Permanent Marker', cursive;
  font-size: 32px;
}

.pqeai_label {
  background-color: red;
  padding: 50px;
  color: white;
  font-size: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
